.dialog#mydialog
  button(data-dialog-close="#mydialog") close
  
button(data-dialog-open="#mydialog") fade in

.dialog.dialog--slide-top#dialog-slide
  button(data-dialog-close="#dialog-slide") close
  
button(data-dialog-open="#dialog-slide") slide in
